<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>food_front</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowDeskServlet</display-name>
    <servlet-name>ShowDeskServlet</servlet-name>
    <servlet-class>cn.et.controller.ShowDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDeskServlet</servlet-name>
    <url-pattern>/showDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCuisineServlet</display-name>
    <servlet-name>ShowCuisineServlet</servlet-name>
    <servlet-class>cn.et.controller.ShowCuisineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCuisineServlet</servlet-name>
    <url-pattern>/showCuisine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>cn.et.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/showImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodCartServlet</display-name>
    <servlet-name>FoodCartServlet</servlet-name>
    <servlet-class>cn.et.controller.FoodCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodCartServlet</servlet-name>
    <url-pattern>/foodCart</url-pattern>
  </servlet-mapping>
</web-app>